/packages/*/node_modules
/node_modules
/lib/
/service-worker/
/shared/
/configurator/*.js
/configurator/*.d.ts
/configurator/*.d.ts.map
/configurator/deploy/
/typescript-worker/
service-worker.js
typescript-worker.js
/index.js
/index.d.ts
/index.d.ts.map
/playground-*.js
/playground-*.d.ts
/playground-*.d.ts.map
/test/
/_codemirror/
.tsbuildinfo
