/packages/*/node_modules
/node_modules
/lib/
/service-worker/
/shared/
/configurator/*.js
/configurator/*.d.ts
/configurator/*.d.ts.map
/configurator/deploy/
/typescript-worker/
/playground-typescript-worker.js
/index.js
/index.d.ts
/index.d.ts.map
/playground-*.js
/playground-*.d.ts
/playground-*.d.ts.map
/test/
/_codemirror/
/themes/
/src/themes/
/src/_codemirror/codemirror-styles.ts
/src/configurator/themes.ts
.tsbuildinfo
/playground-service-worker.*
/playground-service-worker-proxy.*
/src/playground-styles.ts
