/.github/
/.vscode/
/demo/
/test/
/src/test/
/src/configurator/
/configurator/
/scripts/
*.tsbuildinfo
.prettierrc.json
.prettierignore
rollup.config.js
tsconfig.json
web-test-runner.config.js
playground-service-worker-proxy.*
!playground-service-worker-proxy.html
