*.html
/*.d.ts
/*.js
/_codemirror/
/configurator/
/demo/
/examples/
/internal/
/service-worker/
/shared/
/src/configurator/themes.ts
/src/playground-styles.ts
/src/themes/
/test/
/themes/
/typescript-worker/
/.wireit
