name: version-module

on: [push, pull_request]

jobs:
  version-module:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: npm
      - uses: google/wireit@setup-github-actions-caching/v1

      - run: npm ci
      - run: npx playwright install-deps
      - run: npx playwright install
      # This script automatically fails if the version module is not up-to-date.
      - run: npm run update-version-module
